<div class="container">
<%= render 'shared/notice' %>
	<div>
	  <h3><%= @event.name %></h3>
	  <p><%= @event.story %>
	  <% if current_user == @event.user %>
	  <span><%= link_to '编辑', edit_event_path %></span>
	  <% end %></p>
	</div>
	<div class="event_user">
	  <span>创建人：</span><%= link_to @event.user.name, @user %> 
	  <% if current_user == @event.user %>
      <%= link_to "上传图片", new_event_post_path(@event, @post), :class=> "action_button" %>
      <% end %>
	</div>
	<div>
      <%= render @posts %>
	</div>

</div>