<div class="container">
	<% flash.each do |key, value| %>
	<div class="<%= key %>">
		<%= value %>
	</div>
	<% end %>
	<div>
	  <h3><%= @event.name %></h3>
	  <p><%= @event.story %></p>
	</div>
	<div>
		<% for post in @posts %>
		<%= image_tag(post.photo_url) %>
		<%= post.content %>
		<% end %>
	</div>
	<div>
      <%= link_to "Create a photo post!", new_event_post_path(@event, @post) %>
	</div>

</div>