<% if current_user %>
<div class="container">
<%= render 'shared/notice' %>
	<div class="span-18">
	  <%= render @events %>
	  <%= paginate @events %>
	</div>
</div>
<% else %>
<div class="fheader">
	<div class="logo">
		<%= link_to "ShiWai.In", root_path %>
	</div>
	<div class="fimage">
		<%= image_tag("display.jpg") %>
	</div>
	<div class="fcontent">
		<h3>生活因旅行而改变</h3>
		<p>这是一个分享旅行故事的平台，同好友一起编辑你们的旅行故事，分享给他人，帮助其他人也完成各自的旅行梦想。</p>
		<%= link_to "注册账号", signup_path, :class => "btn" %>
		<%= link_to "登录", login_path, :class => "btn" %>
	</div>
</div>
<% end %>