<div class="fheader">
	<div class="logo">
		<%= link_to "ShiWai.In", root_path %>
	</div>
	<div class="quiet">
		<p>生活处处都是风景，寻找自己的世外桃园。</p>
	</div>
	<div class="fimage">
		<%= image_tag("display.jpg") %>
	</div>
	<div class="fcontent">
		<h3>请注册<span class="description">已有账号？<%= link_to "请登录", login_path %></span></h3>
		<%= form_tag "/auth/identity/register" do %>
            <%= render 'shared/error_message_for', :object => @identity %>
			<div>
				<%= label_tag :name, "昵称" %><br>
				<%= text_field_tag :name, @identity.try(:name) %>
			</div>
			<div>
				<%= label_tag :email, "邮箱" %><br>
				<%= text_field_tag :email, @identity.try(:email) %>
			</div>
			<div>
				<%= label_tag :password, "密码" %><br>
				<%= password_field_tag :password %>
			</div>		
			<div>
				<%= label_tag :password_confirmation, "确认密码" %><br>
				<%= password_field_tag :password_confirmation %>
			</div>
			<div><%= submit_tag "注册" %></div>
		<% end %>
	</div>
</div>