<div class="container">
<%= render 'shared/notice' %>
<div>
  <h3><%= @event.name %></h3>
  <p><%= @event.story %></p>
</div>
<div>
	<%= form_for([@event, @post], :html => { :multipart => true }) do |f| %>
	  <%= render 'shared/error_message_for', :object => f.object %>
	  <%= f.file_field :photo %><br \>
	  <%= f.text_area :content %><br \>
	  <%= f.submit "发布" %>
	<% end %>
</div>
</div>