<div class="container">
	<% flash.each do |key, value| %>
	<div class="<%= key %>">
		<%= value %>
	</div>
	<% end %>
	<div class= "disline">
	  <h3><%= @event.name %></h3>
	  <p><%= @event.story %></p>
	</div>
	<div>
		<%= form_for([@event, @post], :html => { :multipart => true }) do |f| %>
		  <%= f.file_field :photo %><br \>
		  <%= f.text_area :content %><br \>
		  <%= f.submit "Create" %>
		<% end %>
	</div>
</div>